@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-primary-light: #16213b;
  --color-secondary: #2563eb;
  --color-secondary-dark: #0b2b6f;
  --color-accent: #e11d48;
  --color-text: #f9fafb;

  --font-space: "Space Grotesk, sans-serif";
  --font-poppins: "Poppins, sans-serif";
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

/* * {border: 0.1px solid white } */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}